<div class="search-container">
    <!-- <mat-form-field color="primary" appearance="outline" class="example-form-field">
        <mat-icon matPrefix>search</mat-icon>
        <input class="search" matInput type="text" [(ngModel)]="value">
        <button class="clear-btn" mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button class="clear-btn" (click)="panelOpenState === true? false: true"  matSuffix>
            <mat-icon>
                arrow_drop_down
            </mat-icon>
        </button>
      </mat-form-field>
      <mat-menu #searchMenu="matMenu" yPosition="below" xPosition="before" style="width: 382px;max-width: 385px;
      padding-right: 0px;
      float: right;" >
        <button mat-menu-item >Item 1</button>
        <button mat-menu-item >Item 2</button>
      </mat-menu> -->

      <!-- <mat-accordion #advanceSearchPanel>
      
      </mat-accordion> -->
      <!-- <mat-expansion-panel hideToggle style="background-color:#107cd8; box-shadow: none" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
<mat-expansion-panel-header style="background-color:#107cd8;">
<mat-form-field color="primary" appearance="outline" class="example-form-field">
<mat-icon matPrefix>search</mat-icon>
<input class="search" matInput type="text" [(ngModel)]="value">
<button class="clear-btn" mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
<button mat-icon-button class="clear-btn" (click)="panelOpenState === true? false: true"  matSuffix>
<mat-icon>
 arrow_drop_down
</mat-icon>
</button>
</mat-form-field>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel> -->


<button *ngIf="mobileSearchFlag" type="button" mat-icon-button class="visible-xs-block navbar-brand show-mobile-search-btn" (click)="showMobileSearch()">
    <mat-icon>search</mat-icon>
</button>
<mat-accordion>
<mat-expansion-panel displayMode="flat" style="box-shadow: none;
border: none; width: 500px;" [disabled]="true" #myPanel (focusOut)="closeAdvancedSearch()">
<mat-expansion-panel-header [ngStyle]="{backgroundColor: myPanel?.expanded?'inherit':'#1976d2'}">
  <mat-panel-description>
      <mat-form-field [ngStyle]="{backgroundColor: myPanel?.expanded?'whitesmoke':'#0c21522b'}" color="primary" appearance="outline" class="example-form-field">
        <mat-icon matPrefix>search</mat-icon>
        <input class="search" (click)="myPanel.expanded = false;" matInput placeholder="Search" type="text" [(ngModel)]="value">
        
        <button class="clear-btn" mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-mini-fab class="clear-btn" *ngIf="!myPanel?.expanded" (click)="expandPannel()"  matSuffix>
            <mat-icon [ngStyle]="{color: myPanel?.expanded?'black':'lightgray'}">{{matIcon}}</mat-icon>
        </button>
       
      </mat-form-field>
  </mat-panel-description>
</mat-expansion-panel-header>
<mat-card style="z-index:9999;">
   
    <mat-card-header>
        <mat-icon>help</mat-icon>
        <mat-card-title-group>
            <mat-card-title>
                Title
            </mat-card-title>
            <mat-card-subtitle>
                Subtitle
            </mat-card-subtitle>
        </mat-card-title-group>
        <div fxFlex></div>
        <button class="clear-btn" mat-mini-fab  matSuffix aria-label="Clear" (click)="myPanel.expanded=false">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
    </mat-card-header> 
    <mat-card-content>
        <form class="example-form-filter" autocomplete="new-password" >
            <mat-form-field class="example-full-width">
              <mat-label>Company (disabled)</mat-label>
              <input matInput disabled value="Google">
            </mat-form-field>
          
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput>
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <mat-label>Long Last Name That Will Be Truncated</mat-label>
                <input matInput>
              </mat-form-field></td>
            </tr></table>
          
            <p>
              <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </p>
          
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                <mat-label>City</mat-label>
                <input matInput placeholder="Ex. San Francisco">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <mat-label>State</mat-label>
                <input matInput placeholder="Ex. California">
              </mat-form-field></td>
              <!-- <td>
                  <mat-form-field class="example-full-width">
                <mat-label>Postal Code</mat-label>
                <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
              </mat-form-field></td> -->
            </tr></table>
          </form>
    </mat-card-content>
</mat-card>

<!-- <form class="basic-form mat-card" [formGroup]="form" style="width: 600px;">
 
</form> -->
</mat-expansion-panel>
</mat-accordion>
</div>


